@import "tailwindcss";
@import "primeicons/primeicons.css";
@import "tailwindcss-primeui";


@theme {
  --p-datepicker-week-day-padding: 1rem;
  --p-datepicker-date-padding: 1rem
}


@layer theme {
  :root, :host {
    @variant * {
      --p-datepicker-week-day-padding: 0.5rem;
      --p-datepicker-date-padding: 0.5rem;
      --p-datepicker-date-width: 2.5rem;
      --p-datepicker-date-height: 2.5rem;
    }

    .p-selectbutton {
      max-width: 420px;
      display: flex;
      user-select: none;
      flex-wrap: wrap;
      vertical-align: bottom;
      justify-content: space-evenly;
      outline-color: transparent;
      border-radius: var(--p-selectbutton-border-radius);
      background: var(--p-togglebutton-background);
    }
  }
}




